* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  line-height: 1.6;
  scroll-behavior: smooth;
  scrollbar-color: #4CAF50 #e0e0e0;
  scrollbar-width: thin;
}

.header {
  width: 1200px;
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  z-index: 102;
  }

 h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
  }

h1{
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
}
p {
  margin: 0 0 10px;
}

ul, ol {
  margin: 0 0 20px;
  padding-left: 20px;
  list-style: none;
}

a {
  display: inline-block;
  color: black;
  padding: 10px;
  transition: font-size 0.3s ease;
  transition: font-size 0.3s ease;
  
}

a:hover {
  font-size: 1.2em;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background: #39833C;
background: -moz-linear-gradient(слева, #39833C 0%, #449D48 48%, #62E167 100%);
background: -webkit-linear-gradient(слева, #39833C 0%, #449D48 48%, #62E167 100%);
background: linear-gradient(to right, #39833C 0%, #449D48 48%, #62E167 100%);
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.logo {
  display: inline-block;
  margin-right: 30px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.custom-navbar {
  background: #39833C;
  background: -moz-linear-gradient(слева, #39833C 0%, #449D48 48%, #62E167 100%);
  background: -webkit-linear-gradient(слева, #39833C 0%, #449D48 48%, #62E167 100%);
  background: linear-gradient(to right, #39833C 0%, #449D48 48%, #62E167 100%);
}

.navbar-brand {
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  color: black;
  margin-right: 25px;
  font-family: 22px;
}

.gamberger {
  display: none;
}

.navbar-nav .nav-link {
  font-size: 22px; 
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  }

  .nav-link {
    text-decoration: none; /* Убираем подчеркивание */
    transition: font-size 0.4s ease; /* Плавное увеличение */
  }
  
  .nav-link:hover {
    font-size: 1.8em; /* Увеличиваем текст при наведении */
  }

.navbar-light .navbar-nav .nav-link {
  color: black;
}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-toggler {
  display: none;
  
}

nav {
  height: 90px;
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

nav:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Более плотный фон при наведении */
}

nav .navbar-brand,
nav .nav-link {
  color: black; 
  line-height: 60px;
}

/* Стили для контактной информации */
.contact-info {
  display: flex;
  align-items: center;
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

.contact-info i {
  font-size: 24px;
  color: #333;
  margin-right: 10px; /* Отступ между иконкой и номером телефона */
}

.contact-info a {
  color: #000;
  text-decoration: none;
  margin-right: 40px; /* Отступ между номером телефона и логотипом */
}

/* Дополнительные стили для улучшения внешнего вида */
.logo img {
  vertical-align: middle; /* Выравнивание логотипа по центру */
}

.menu-list {
  justify-content: end; /* Сдвигаем меню вправо */
}

/* Стили для секции hero */
.hero {
  animation: show 3s;
   background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
    color: white;
    padding: 60px 40px;
    text-align: center;
    height: 1000px;
    position: relative;
    }
  
  @keyframes show {

    from {opacity: 0;} to {opacity: 1;}
    }

  .background-image {
    filter: brightness(50%) contrast(150%);
  }

.hero h1 {
  font-size: 60px;
  margin-bottom: 10px;
  color: #FFFFFF; /* Белый цвет текста */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для улучшения читаемости */
    
}

.hero p {
  font-size: 30px;
  margin-bottom: 30px;
  color: #FFFFFF; /* Белый цвет текста */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень для улучшения читаемости */
  
}


.hidden {
  opacity: 0;
  transform: translateY(50px);
  transition: opacity 0.8s ease-out, transform 0.8s ease-out;
}

.visible {
  opacity: 1;
  transform: translateY(0);
}


/* Section */
section {
  display: flex;
  align-items: center; /* Растягиваем содержимое по высоте */
  justify-content: space-between;
  background-color: #f9f9f9;
  padding: 40px;
  margin-bottom: 20px;
}

.title_cont {
  text-align: center;
}

section + section {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Добавляем тень */
  padding-top: 60px;
}

section .image {
  flex-basis: 40%; /* Устанавливаем ширину изображения */
  margin-left: 20px;
  }
  
  #banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }


section .content {
  padding: 20px;
  background: rgba(208, 209, 212, 0.1); /* Полупрозрачный фон */
  max-width: 50%; /* Чтобы текст не растягивался на всю ширину */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2); /* Тень */
}



section .content p {
  text-align: justify;
  line-height: 1.6; /* или 160% */
}

section .image img {
  width: 100%; /* Изображение занимает всю доступную ширину */
  height: auto; /* Сохраняем пропорции изображения */
  display: block; /* Для правильной работы высоты */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  
}

.actions {
  display: flex;
  justify-content: center; 
  margin-top: 20px; 
}

.actions li {
  list-style-type: none; 
}

/* Кнопки */
.button.big {
  display: inline-block;
  padding: 12px 24px;
  background: #39833C;
  background: -moz-linear-gradient(слева, #39833C 0%, #449D48 48%, #62E167 100%);
  background: -webkit-linear-gradient(слева, #39833C 0%, #449D48 48%, #62E167 100%);
  background: linear-gradient(to right, #39833C 0%, #449D48 48%, #62E167 100%);
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center; 
  }

.button.big:hover {
  background-color: #478a49;
}

.advantages-header {
  text-align: center;
  color: #333;
  font-size: 32px;
  margin-bottom: 30px;
  margin-top: 20px;
  
}

.advantages-section {
  width: 1200px;
  display: grid;
  grid-template-rows: (4, 1fr);
  grid-template-columns: (4, 1fr);
  gap: 8px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

ul.advantages-list {
  list-style-type: none;
  padding-left: 0;
  display: flex;
  
  align-items: stretch;
  gap: 30px;
  justify-content: space-between; /* Распределяем блоки равномерно */
}

li.advantage-item {
  display: flex;
  flex-direction: column;  /* Располагаем иконку и текст вертикально */
  align-items: center; 
  width: calc((100% / 3) - 20px);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  background-color: white;
  text-align: center;
  min-width: 200px; /* Минимальная ширина блока */
}

.advantage-icon {
  
  font-size: 48px;
  color: #4CAF50;
  margin-bottom: 10px;
  width: 48px; 
  height: 48px; 
}

.advantage-details {
  text-align: justify;
  text-align: left;
}

.advantage-title {
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 10px;
}

.advantage-text {
  text-align: justify;
  line-height: 1.5;
  color: #666;
}

/* footer */

.footer-distributed {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  padding: 55px 50px;
  font-family: "Pacifico", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 22px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center {
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #080808;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-links {
  position: relative;
  left: -10px; 
}


/* Footer Center */

.footer-center {
  margin-left: auto; 
}

.footer-distributed .footer-center i{
	background-color:  #1fad3c;
	color: #080808;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 20px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #0e0d0d;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:20px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(12, 12, 12);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #077e25;
  display: inline-block;
  padding-right: 5px;
}



/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-info { 
  margin-top: auto; 
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; 
  background: #39833C;
background: -moz-linear-gradient(слева, #39833C 0%, #449D48 48%, #62E167 100%);
background: -webkit-linear-gradient(слева, #39833C 0%, #449D48 48%, #62E167 100%);
background: linear-gradient(to right, #39833C 0%, #449D48 48%, #62E167 100%);
  color: #16a83b; /* или любой другой цвет текста */
}

 .footer-company-name{
	color:  #070707;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Стиль для модального окна */
.modal {
    display: none; 
    position: fixed; 
    position: fixed;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%; 
    height: 100%;
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
  background-color: #fefefe;
    margin: 15% auto; 
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
  }

.modal-content p {
  text-align: justify;
  hyphens: auto;
  font-size: 16px;
  line-height: 1.5;
  
}

.modal-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}





/* Десктопы (1200px и выше) */
@media (min-width: 1200px) {
  .container {
    max-width: 1200px;
  }
}

/* Ноутбуки и планшеты в горизонтальном положении (992px - 1199px) */
@media (max-width: 1199px) {
  .contact-info {
    font-size: 14px;
  }

  .contact-info i {
    font-size: 18px;
  }
  
  .main {
    margin-top: 120px;
  }


  .container {
    max-width: 960px;
  }

  .hero {
    padding: 70px 30px;
    margin: 0 30px;
  }

  .hero h1 {
    font-size: 42px;
  }

  .hero p {
    font-size: 20px;
  }

  section {
    padding: 35px;
  }

  .content {
    font-size: 15px;
  }

  .button.big {
    padding: 11px 22px;
    font-size: 16px;
  }

  .advantages-section {
    width: 100%;
    grid-template-columns: repeat(2, 1fr);
  }

  .footer-distributed {
    padding: 30px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer-left, .footer-center {
    width: 100%;
  }

  .footer-left .logo img {
    width: 100px;
    height: auto;
  }

  .footer-left p {
    font-size: 16px;
  }

  .footer-links {
    font-size: 15px;
    
  }

  .footer-center  {
    font-size: 15px;
    margin-top: 20px;
  }
}






@media (max-width: 1024px) {
  .hero {
    padding: 60px 20px;
    margin-top: 120px;
  }
  
  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }
  
    section .content {
    flex-direction: column;
    text-align: center;
    max-width: 100%; /* Чтобы текст не растягивался на всю ширину */
      padding: 10px 20px; /* Немного отступов по бокам для читабельности */
      box-sizing: border-box; 
  }

  

  section .image {
    margin-top: 20px;
  }

  .button.big {
    padding: 10px 20px;
    font-size: 14px;
  }
  .footer-links {
    display: flex;
    flex-direction: column;    
    gap: 5px; /* Отступ между ссылками */
  }

  .footer-links a {
    position: relative;
    display: inline-block;
    white-space: nowrap; /* Запрещаем перенос слов */
  }

}








@media (max-width: 992px) {
  
  
  .navbar-toggler {
    display: block; /* Показываем кнопку-гамбургер */
    border: none;
    background: transparent;
  }

  .navbar-toggler:focus {
    outline: none;
    box-shadow: none;
  }
  .navbar-collapse {
    background-color: #e8eee9; /* Цвет фона для раскрывающегося меню */
    text-align: center;
    padding: 10px;
  }
  .navbar-nav {
    flex-direction: column; /* Выстраиваем ссылки в колонку */
    align-items: center;
  }

  .navbar-nav .nav-item {
    margin-bottom: 10px;
  }
  .navbar-brand {
    font-size: 16px;
  }

  .contact-info {
    font-size: 14px;
  }

  .contact-info i {
    font-size: 18px;
  }

  .navbar-nav .nav-link {
    font-size: 14px;
  }
  
  .logo {
    display: none;
  }

  .hero {
    padding: 60px 20px;
    margin-top: 120px;
  }

  .footer-distributed {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-left {
    margin-bottom: 20px;
  }

  .footer-left .logo img {
    width: 90px;
  }

  .footer-links {
    
    
    gap: 10px;
    font-size: 14px;
  }

  .footer-center  {
    font-size: 14px;
    
  }
}









/* Планшеты (768px - 991px) */
@media (max-width: 991px) {
  .gamberger {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gamberger-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.gamberger ul {
    list-style: none;
    margin-top: 25px;
    padding: 10px;
    background: linear-gradient(to right, #39833C 0%, #449D48 48%, #62E167 100%);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 50px;
    width: 200px;
    transition: opacity 0.3s ease-in-out;
}

.gamberger ul li {
    padding: 10px 15px;
}

.gamberger ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px; 
    font-weight: bold;
    transition: transform 0.3s ease, font-size 0.3s ease;
}

.gamberger ul li a:hover {
  
  font-size: 18px;
}
     
  .main {
    margin-top: 120px;
  }
  
  .container {
    max-width: 720px;
  }

  .hero {
    display: flex;
    align-items: center; /* Центрирование по вертикали */
    justify-content: center; /* Центрирование по горизонтали */
    background-size: cover;
    background-position: center;
    text-align: center;
    height: 850px; /* Уменьшаем высоту секции hero */
    padding: 60px 20px;
    margin-top: 120px;
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero p {
    font-size: 18px;
  }

  .navbar-nav {
    flex-direction: column;
  }

  .advantages-section {
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar-brand {
    font-size: 14px;
  }

  .contact-info {
    font-size: 12px;
  }

  .contact-info i {
    font-size: 16px;
  }

  .navbar-nav .nav-link {
    font-size: 12px;
  }

}







/* Телефоны (576px - 767px) */
@media (max-width: 767px) {
 

  .gamberger {
    display: block;
    position: fixed;
    top: 15px;
    right: 15px;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.gamberger-nav {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
    font-weight: bold;
    color: black;
    cursor: pointer;
}

.gamberger ul {
    list-style: none;
    margin-top: 25px;
    padding: 10px;
    background: linear-gradient(to right, #39833C 0%, #449D48 48%, #62E167 100%);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    right: 0;
    top: 50px;
    width: 200px;
    transition: opacity 0.3s ease-in-out;
}

.gamberger ul li {
    padding: 10px 15px;
}

.gamberger ul li a {
    text-decoration: none;
    color: black;
    font-size: 16px; 
    font-weight: bold;
    transition: transform 0.3s ease, font-size 0.3s ease;
}


.gamberger ul li a:hover {
  
  font-size: 18px;
}

  .container {
    max-width: 540px;
  }

  .navbar-brand {
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Чтобы текст не переносился */
    margin: 0;
  }

  .contact-info {
    font-size: 12px;
    font-size: 12px;
    margin-right: 5px; /* Минимальный отступ от названия компании */
  }

  .contact-info i {
    font-size: 12px;
      }

  .navbar-nav .nav-link {
    font-size: 12px;
  }

  .navbar-toggler {
    margin-left: 5px; /* Минимальный отступ от названия компании */
  }

  .logo {
    display: none; /* Скрываем логотип */
  }

  .hero {
    padding: 60px 20px;
    margin-top: 120px;
  }

  .hero h1 {
    font-size: 28px;
  }

  .hero p {
    font-size: 16px;
  }

  section {
    flex-direction: column;
    text-align: center;
    padding: 30px;
    max-width: 100%; /* Чтобы текст не растягивался на всю ширину */
  }

  section .content, section .image {
    flex-basis: 100%;
    margin: 0;
  }

  section .image {
    margin-top: 20px;
  }

  .button.big {
    padding: 8px 16px;
    font-size: 12px;
  }
  
  .advantages-section {
    grid-template-columns: repeat(1, 1fr);
  }

  .footer-distributed {
    flex-direction: column;
    padding: 2px;
  }

  .footer-left .logo img {
    width: 80px;
    
  }

.footer-left {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Элементы слева */
  }

  .footer-left p {
    font-size: 14px;
  }

  .footer-links a {
    display: block; /* Переносим ссылки в отдельные строки */
    text-align: left; 
  }

  .footer-center {
    
    display: flex;
    flex-direction: column; /* Располагаем элементы в колонку */
    align-items: center;
    justify-content: space-between; /* Размещаем элементы по центру */
    padding-right: 100px;
    font-size: 13px;
    }

    .footer-center div {
      
      display: flex;
      align-items: center; /* Выравнивание элементов внутри блока по вертикали */
      margin-bottom: 10px; /* Добавляем отступ между элементами */
  }
}

/* Маленькие телефоны (до 575px) */
@media (max-width: 575px) {
  .container {
    max-width: 100%;
    padding: 0 10px;
  }

  .navbar-brand {
    font-size: 14px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    white-space: nowrap; /* Чтобы текст не переносился */
  }

  .contact-info {
    font-size: 12px;
  }

 

  .navbar-nav .nav-link {
    font-size: 12px;
  }
  .navbar-toggler {
    margin-left: auto; /* Кнопка-гамбургер уходит вправо */
  }

  .logo {
    display: none; /* Скрываем логотип */
  }

  .hero {
    padding: 60px 20px;
    margin-top: 120px;
  }

  .hero h1 {
    font-size: 24px;
  }

  .hero p {
    font-size: 14px;
  }

  .advantages-list {
    flex-wrap: wrap; /* Разрешать перенос элементов на новую строку */
  }
  
  .advantage-item {
    width: calc(50% - 10px); /* Занимаем половину ширины экрана минус отступы */
    margin-bottom: 20px; /* Отступ между строками */
    box-sizing: border-box; /* Включаем padding и border в ширину блока */
  }
  
  .advantage-item:nth-child(odd) {
    margin-right: 20px; /* Добавляем отступ справа для нечетных элементов */
  }

  .footer-distributed {
    flex-direction: column;
    align-items: center;
      padding: 30px 20px;
    }
    

  .footer-left,  .footer-center {
        justify-content: center;
  }

    .footer-left .logo img {
      width: 80px;
      height: auto;
    }
  
    .footer-left p {
      font-size: 14px;
    }
  
    .footer-links a {
    display: block; /* Переносим ссылки в отдельные строки */
    text-align: left; 
    }
  
    .footer-center{
      display: flex;
      flex-direction: column; /* Располагаем элементы в колонку */
      align-items: center;
      justify-content: space-between; /* Размещаем элементы по центру */
      padding-right: 100px;
      font-size: 14px;
    }

    .footer-center div {
      display: flex;
      align-items: center; /* Выравнивание элементов внутри блока по вертикали */
      margin-bottom: 10px; /* Добавляем отступ между элементами */
  }
  
    .footer-center i {
      margin-bottom: 5px;
    }
  
    .footer-center p {
      margin: 5px 0;
    }
  
    .footer-center a {
      font-size: 14px;
    }

  }

  @media (max-width: 480px) {
    
    .hero {
      height: 500px; /* Уменьшаем высоту секции hero */
      padding: 110px 10px;
      margin: 0 10px;
    }
  
    .hero h1 {
      font-size: 22px;
    }
  
    .hero p {
      font-size: 14px;
    }
  
    section .content {
      flex-basis: 100%;
      margin: 0;
      text-align: center;
      padding: 30px 20px; /* Немного отступов по бокам для читабельности */
      box-sizing: border-box; 
      height: 350px; /* Уменьшаем высоту секции контента */
      max-width: 100%; /* Чтобы текст не растягивался на всю ширину */
    }

    section h2 {
      font-size: 18px;
    }

    section h3,h4 {
      font-size: 14px;
    }
  
  
    section .image {
      flex-basis: 100%;
      margin: 20px 0;
    }
  
    section .image img {
      max-width: 100%;
      height: auto;
    }
  
    .button.big {
      padding: 6px 12px;
      font-size: 12px;
    }
  
    .actions {
      justify-content: center;
      margin-top: 15px;
    }

    .advantage-item {
      width: 100%; /* Каждый элемент занимает всю ширину строки */
      margin-right: 0; /* Убираем горизонтальные отступы */
    }






    .footer-distributed {
      text-align: center;
      padding: 15px;
    }

    .footer-left,
  .footer-center {
    justify-content: center;
  }
  
    .footer-left .logo img {
      width: 80px;
      height: auto;
    }
  
    .footer-left p {
      font-size: 14px;
    }
    
    .footer-links a {
      display: block; /* Переносим ссылки в отдельные строки */
    text-align: left; 
   }
  
    .footer-center {
      display: flex;
      flex-direction: column; /* Располагаем элементы в колонку */
      align-items: center; /* Центрирование блоков по горизонтали */
     font-size: 14px;
     padding-right: 100px;
    }

    .footer-center div {
      display: flex;
      align-items: center; /* Выравнивание элементов внутри блока по вертикали */
      margin-bottom: 10px; /* Добавляем отступ между элементами */
  }
  
    .footer-center i {
      margin-bottom: 5px;
    }
  
    .footer-center p {
      margin: 5px 0;
    }
  
    .footer-center a {
      font-size: 14px;
    }
  }










