/* Общие стили */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  font-family: 'Roboto', sans-serif;
  background-color: #f9f9f9;
  line-height: 1.6;
  scroll-behavior: smooth;
  scrollbar-color: #4CAF50 #e0e0e0;
    scrollbar-width: thin;
}


h1, h2, h3, h4, h5, h6 {
  margin: 0 0 20px;
}

p {
  margin: 0 0 10px;
}

ul, ol {
  margin: 0 0 20px;
  padding-left: 20px;
  list-style: none;
}

a {
  display: inline-block;
  color: black;
  padding: 10px;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}

a:hover {
  border: 2px solid #4CAF50;
  border-radius: 15px; /* Радиус скругления углов */
}




img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 15px;
}


.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}



.logo {
  display: inline-block;
  margin-right: 30px;
  margin-top: 14px;
  margin-bottom: 14px;
}

.navbar {
  background-color: #fafafa; /* Очень светлый серый оттенок */
}

.navbar-brand {
  font-weight: bold;
  color: black;
  margin-right: 25px;
}

.navbar-nav .nav-link {
  font-size: 18px; /* Увеличиваем размер текста */
  
}
.navbar-light .navbar-nav .nav-link {
  color: black;
}


.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover {
  color: black;
}

.navbar-toggler {
  display: none;
}

nav {
  opacity: 0.9; /* Небольшая прозрачность */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона при наведении */
}

nav:hover {
  background-color: rgba(255, 255, 255, 0.8); /* Более плотный фон при наведении */
}

nav .navbar-brand,
nav .nav-link {
  color: #333; /* Темный цвет текста для контраста */
}

@media (max-width: 768px) {
  .navbar-toggler {
    display: block;
  }
}

/* Стили для контактной информации */
.contact-info {
  display: flex;
  align-items: center;
}

.contact-info i {
  font-size: 24px;
  color: #333;
  margin-right: 10px; /* Отступ между иконкой и номером телефона */
}

.contact-info a {
  color: #000;
  text-decoration: none;
  margin-right: 40px; /* Отступ между номером телефона и логотипом */
}

/* Дополнительные стили для улучшения внешнего вида */
.logo img {
  vertical-align: middle; /* Выравнивание логотипа по центру */
}

.menu-list {
  justify-content: end; /* Сдвигаем меню вправо */
}

/* Скрытие контактной информации на маленьких экранах */
@media (max-width: 991px) {
  .contact-info {
    display: none;
  }
}

.header {
  position: fixed;
  top: 15px;
  left: 0;
  right: 0;
  height: 50px;
  z-index: 102;
  background-color: white;
}

main {
  padding-top: 200px;
}



/* Section */
section {
  display: flex;
  align-items: stretch; /* Растягиваем содержимое по высоте */
  justify-content: space-between;
  background-color: #f9f9f9;
  
  padding: 40px;
  margin-bottom: 20px;
  margin-left: 45px;
  margin-right: 45px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ddd;
  border-radius: 60px;
}

section:nth-child(even) {
  background-color: #eaeaea;
}

section.special-section {
  background-image: linear-gradient(to right, #4facfe, #00f2fe);
  color: white;
}

section + section {
  border-top: 1px solid #ccc;
  padding-top: 60px;
}

section .image {
  flex-basis: 50%; /* Устанавливаем ширину изображения */
  margin-left: 20px;
  border-radius: 10px;
}

section .content {
  font-family: 'Arial', sans-serif; /* или 'Roboto', sans-serif; */
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
  flex-basis: 50%; /* Устанавливаем ширину текста */
  margin-right: 20px;
}

section .content p {
  text-align: justify;
  line-height: 1.6; /* или 160% */
}

section .image img {
  width: 100%; /* Изображение занимает всю доступную ширину */
  height: auto; /* Сохраняем пропорции изображения */
  display: block; /* Для правильной работы высоты */
}

/* Адаптивность */
@media (max-width: 900px) {
  section {
    flex-direction: column; /* Меняем направление флекса на колонку */
  }

  section .image,
  section .content {
    flex-basis: 100%; /* Полная ширина для каждого элемента */
    margin: 0; /* Сбрасываем внешние отступы */
  }

  section .image {
    margin-bottom: 20px; /* Отступ между изображением и текстом */
  }
}

.actions {
  display: flex;
  justify-content: center; /* Центрирует элемент по горизонтали */
  margin-top: 20px; /* Опциональный отступ сверху */
}

.actions li {
  list-style-type: none; /* Убираем маркеры списка */
}

/* Кнопки */
.button.big {
  display: inline-block;
  padding: 12px 24px;
  background-color: #71be59;
  color: #fff;
  text-decoration: none;
  border-radius: 4px;
  transition: background-color 0.3s ease;
  text-align: center; /* Центрируем текст внутри кнопки */
}

.button.big:hover {
  background-color: #259751;
}


.footer-distributed {
  display: flex;
  justify-content: space-between; /* распределяем элементы по краям */
  align-items: center; /* выравниваем элементы по вертикали */
	background: #666; /* или любой другой цвет фона */
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 55px 50px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 0; /* или оставить без изменения */
  border-bottom-right-radius: 0; /* или оставить без изменения */
  overflow: hidden; /* обрезаем выходящий за рамки контент */
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}



/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-links {
  position: relative;
  left: -10px; 
}


/* Footer Center */

.footer-center {
  margin-left: auto; 
}

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  rgb(241, 243, 243);
	text-decoration: none;;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

.footer-info { 
  margin-top: auto; 
  width: 100%;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px; /* добавляем padding снизу */
  background-color: #252525; 
  color: #f0f0f0; /* или любой другой цвет текста */
}


 .footer-company-name{
	color:  #f7f4f4;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}


/* Стиль для модального окна */
.modal {
  display: none; /* Скрыто по умолчанию */
  position: fixed; /* Фиксированное положение */
  z-index: 1; /* Самый высокий индекс */
  left: 0;
  top: 0;
  width: 100%; /* Полная ширина */
  height: 100%; /* Полная высота */
  overflow: auto; /* Прокрутка, если необходимо */
  background-color: rgba(0,0,0,0.4); /* Полупрозрачный фон */
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% сверху и по центру */
  padding: 20px;
  border: 1px solid #888;
  width: 50%; /* 50% ширины */
}

.modal-content p {
  text-align: justify;
  hyphens: auto;
  font-size: 16px;
  line-height: 1.5;
}

.modal-content h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

.modal-content ul {
  list-style-type: disc;
  margin-left: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/* If you don't want the footer to be responsive, remove these media queries */

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}

}

@media (max-width: 768px) {
  .logo {
    width: 80px;
    height: auto;
  }
  .menu-list {
    display: none;
  }
  .contact-info {
    display: none;
  }
  .navbar-toggler {
    display: block;
  }
}

/* Скрыть меню на малых экранах */
.collapse {
  display: none;
}

/* Показать меню при клике на гамбургер */
.collapse.show {
  display: block;
}

/* Подключаем медиа-запросы для мобильных устройств */
@media (max-width: 992px) {
  .navbar-toggler {
    display: block;
  }

  .menu-list {
    flex-direction: column;
    align-items: start;
  }

  .menu-list li {
    margin-bottom: 10px;
  }

  .menu-list li:last-child {
    margin-bottom: 0;
  }
}







